.tituloProjeto{
    flex-wrap: nowrap;
    white-space: pre-wrap;
    margin-left: 9%;
}


.listaProjeto {
    display: flex;
    margin: 10% $larguraProjeto/-2 0 0;
    height: 500px;
    width: 500px;
    border-radius: 500px;
    background: transparent;
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;

}

.itemProjetos {
    display: flex;
    width: $larguraProjeto;
    position: absolute;
    -webkit-animation: rotating 20s reverse linear infinite;
    -moz-animation: rotating 20s reverse linear infinite;
    -ms-animation: rotating 20s reverse linear infinite;
    -o-animation: rotating 20s reverse linear infinite;
    animation: rotating 20s reverse linear infinite;
    
    &:nth-child(1) {
        margin-top: $alturaProjeto/-2;
        right: 0;
        position: absolute;
    }
    &:nth-child(2) {
        top: 50%;
        margin-right: $larguraProjeto;
        margin-left: $larguraProjeto/-2;
        position: absolute;

    }
    &:nth-child(3) {
        bottom: 0;
        margin-bottom:  $alturaProjeto/-2;
        right: 0;
    }   
   
    img {
        display: flex;
        flex: 1 1 auto;
        width: 309px;
        height: 159px;
      
    }
}

@media only screen and ( max-width: $tablet ){
    .tituloProjeto{
        text-align: center;
        flex: 1 1 ;    
    }

    .listaProjeto{
        display: flex;
        flex: 1;
        height: auto;
        margin: 0 auto;
        border-radius: unset;
        -webkit-animation: pause;
        -moz-animation: pause;
        -ms-animation: pause;
        -o-animation: pause;
        animation: pause;
        align-items: center;
        flex-flow: column wrap;
    }
    .itemProjetos{
        -webkit-animation: pause;
        -moz-animation: pause;
        -ms-animation: pause;
        -o-animation: pause;
        width:auto;
        position: relative;
        animation: pause;
        margin-bottom: 5%;

         
    &:nth-child(1) {
        margin-top: auto;
        right: auto;
        position: relative;
    }
    &:nth-child(2) {
        top: auto;
        margin-right:auto;
        margin-left: auto;
        position: relative;

    }
    &:nth-child(3) {
        bottom: auto;
        margin-bottom: auto;
        right: auto;
    }   
   
    }
}

@media only screen and ( max-width: $tablet ){
    .listaProjeto{
        margin: 10% 10% 0 15%;
    }
}

@media only screen and ( max-width: $mobile ){
    .tituloProjeto{
        position: relative;
    }

    .listaProjeto{
        margin: 10% 2% 0 2%;
    }
}