.listaProjeto {
    display: flex;
    margin: 10% $larguraProjeto/-2 0 0;
    height: 500px;
    width: 500px;
    border-radius: 500px;
    background: transparent;
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;

}

.itemProjetos {
    display: flex;
    width: $larguraProjeto;
    position: absolute;
    -webkit-animation: rotating 20s reverse linear infinite;
    -moz-animation: rotating 20s reverse linear infinite;
    -ms-animation: rotating 20s reverse linear infinite;
    -o-animation: rotating 20s reverse linear infinite;
    animation: rotating 20s reverse linear infinite;
    
    &:nth-child(1) {
        margin-top: $alturaProjeto/-2;
        right: 0;
        position: absolute;
    }
    &:nth-child(2) {
        top: 50%;
        margin-right: $larguraProjeto;
        margin-left: $larguraProjeto/-2;
        position: absolute;

    }
    &:nth-child(3) {
        bottom: 0;
        margin-bottom:  $alturaProjeto/-2;
        right: 0;
    }   
   
    img {
        width: 309px;
        height: 159px;
      
    }
}

