nav{
    min-width: 90px;
    background: $cor-nav;
    position: fixed;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    div {
        margin: 0 auto;
        img {
            height: 10vh;
            flex-grow: 1;
        }
    }

    :hover {
        color:$cor-principal;
    } 
}


.linksinternos {
    width: 100%;
    
    li{
        a{
            height: 40vh;
             color: $cor-texto;
        }
    }

    li+li {
      margin: 30px 0 0 0 ;  
   } 
}

.linksexternos {
    margin-bottom: 6px;
    width: 100%;
    
    a {
        color: $cor-texto;
    }
    li + li{
        top: 20px;
    }
}


@media only screen and (max-width: $mobile), screen and (max-height: $tablet) {
    nav {
        position: absolute;
        width: 100%;
        height: auto;
        margin: 0 auto;

        display: flex;
        flex:1 1;
        flex-direction: row;
        align-items: center;
        
        ul li {
            margin: 0 5% 0 5%
        }

    }
    .linksinternos {
        height: auto;
        top: none;
        margin-top: auto;
        margin-left: 5%;
        width: 95%;   
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;     

        li+li{
            margin: 0 5% 0 5%;
        }
    }
    
    .linksexternos {
        display: none;
    }
}
