nav{
    display: flex;
    flex-wrap: wrap; 
    width: 90px;
    background: $cor-nav;
    position: fixed;
    height: 100%;
    text-align: center;

    img{
        margin: 0 0 0 20px;
    }

    :hover{
        color:$cor-principal;
    } 
}


.linksinternos{
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 55%;
    margin-top: -120px;
    width: 100%;

    a {
       color: $cor-texto;
   }
    li+li {
       margin: 40%;
   } 
}

.linksexternos{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
    
     a {
        color: $cor-texto;
    }
     li + li{
        top: 12%;
    }
}

ul + ul{
    padding: auto;
    margin: 40% 0 0 0;
}

@media screen and (max-width: $mobile) {
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 0 auto;
        
        ul li {
            margin: 0 5% 0 5%
        }

    }
    .linksinternos{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        top: none;
        margin-top: auto;
        margin-left: 25%;
        
        li+li{
            margin: 0 5% 0 5%;
        }


    }
    .linksexternos{
        display: none;
    }
}
