.on{
    color:$cor-principal
}
.off{
    color: aliceblue;
}

nav{
    min-width: 10vh;
    background: $cor-nav;
    position: fixed;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    div {
        margin: 0 auto;
        img {
            height: 10vh;
            flex-grow: 1;
        }
    }

    :hover {
        transition: color 200ms ease-in 0.01s;
        color:$cor-principal;
    } 
}


.linksinternos {
    width: 100%;
    margin-top: auto;

    li{
        a{
            width: 100%;
            height: 40vh;
             color: $cor-texto;
        }
    }

    li+li {
      margin: 30px 0 0 0 ;  
   } 
}

.linksexternos {
    margin-top: auto;
    width: 100%;
    
    a {
        color: $cor-texto;
    }
    li + li{
        top: 20px;
    }
}


@media screen and (max-width: $tablet) {
    nav{
        left: 0;
    }
}

@media screen and (max-width: $mobile) {
    nav {
      bottom: 0;
      width: 100%;
      height: 5rem;

      flex-direction: row;

      div{
          display: none;
      }
    }
    .linksinternos{
        margin: 0 auto;
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        li {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;

            a {
                height: auto;
            }
        }

        li+li{
            width: 100%;
            margin: 0 auto;
            height: 100%;

            display: flex;
            align-items: center;


            :hover{
                opacity: 0.1;
            }
        }
        
    }
    .linksexternos{
        display: none;
    }
}
