.ola{
    white-space: nowrap;
    position: relative;
    left: 7%;
    h2 {
        color:$cor-texto;
        @extend %titulo;
    }
}
.titulo-destaque{
    color: $cor-principal;
    @extend %titulo;
    
}

.subtitulo{
    color: $cor-subtexto;
    @extend %sub-titulo;
}


@media only screen and (max-width: $tablet) {
    .ola{
        margin: 0 auto;
        
        flex-wrap: wrap;
        white-space: wrap;
    }
}
@media only screen and (max-width: $mobile) {
    .ola{
        bottom: 15%;
        left: auto;
        text-align: center;
        white-space: normal;


        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}