.ola{
    flex: 1;
    position: relative;
    left: 10%;
    margin-top: 18%;
    width: 50%;
    flex-wrap: nowrap;
    white-space: nowrap;

    @media screen and (max-width: $tablet) {
        margin: 10% 0% 0% 15%;;
    }
}
.ola h2 {
    color:$cor-texto;
    @extend %titulo;
}
.titulo-destaque{
    color: $cor-principal;
    @extend %titulo;
    
}

.subtitulo{
    color: $cor-subtexto;
    @extend %sub-titulo;
}

