.ola{
    white-space: nowrap;
    position: relative;
    left: 13%;
    h2 {
        color:$cor-texto;
        @extend %titulo;
    }
}
.titulo-destaque{
    color: $cor-principal;
    @extend %titulo;
    
}

.subtitulo{
    color: $cor-subtexto;
    @extend %sub-titulo;
}


@media only screen and (max-width: $tablet) {
    .ola{
        flex-wrap: wrap;
        white-space: wrap;
    }
}
@media only screen and (max-width: $mobile) {
    .ola{
        justify-content: flex-start;
    }
}