// @import url('https://fonts.googleapis.com/css?family=Muli|Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:600,900|Roboto+Mono&display=swap');
$cor-principal:#4EE981;
$cor-fundo:#252627;
$cor-nav:#2E2D2D;
$cor-texto:rgb(245, 245, 245);
$cor-subtexto:#6E798A;
//margens
$h2-margin: 20% 6% 0 10%;

$largura: 200px;
$larguraProjeto: 256px;
$alturaProjeto: 150px;
$tablet: 955px;

%texto {
    font: 2vh 'Roboto Mono', sans-serif;
    color: $cor-texto;  

}

%titulo {
    font: 1000 6vh 'Muli', sans-serif;

}
  
%sub-titulo {
    font: 600 2vh 'Muli', sans-serif;
}

.titulo-alternativo{
    font: 500 6vh 'Muli', sans-serif;
    color: $cor-principal;
    margin: $h2-margin;
}
