// @import url('https://fonts.googleapis.com/css?family=Muli|Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:600,900|Roboto+Mono&display=swap');
$cor-principal:#4EE981;
$cor-fundo:#252627;
$cor-nav:#2E2D2D;
$cor-texto:rgb(245, 245, 245);
$cor-subtexto:#6E798A;

%texto {
    font: 14px/24px 'Roboto Mono', sans-serif;
    color: $cor-texto;  
}

%titulo {
    font: 1000 40px/60px 'Muli', sans-serif;
}
  
%sub-titulo {
    font: 600 16px/16px 'Muli', sans-serif;
}

.titulo-alternativo{
    font: 500 40px/40px 'Muli', sans-serif;
    color: $cor-principal
}