.souweb{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;

    @media only screen and (max-width: $tablet) {
      }

      @media only screen and (max-width: $mobile) {
        flex-wrap: wrap;
    }  
}

.souweb {
    position: relative;
    right: 5%;

    
    a {
        color: $cor-texto;
    }    
    :hover {
        color: $cor-principal;
    }
}
.texto{
    @extend %texto;
}
