.souweb{
    margin: $h2-margin;
    flex-wrap: nowrap;
    align-content: flex-end;

    @media screen and (max-width: $tablet) {
        margin: 10% 0% 0% 25%;;
      }

      @media screen and (max-width: $mobile) {
        margin: 20% 0% 2% 10%;  
        flex-wrap: wrap;
    }  
}
.souweb a {
    color: $cor-texto;
}
.souweb :hover {
    color: $cor-principal;
}
.souweb p + h3{
    margin: 30% 0 0 0;

}
.texto{
    @extend %texto;
}
